.admin-layout-root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.admin-layout-header {
  position: fixed;
  top :0;
  left:0;
  height: 60px;
  flex-shrink: 0;
  width: 100%;
  z-index: 100;
  transition: margin-left 0.3s;
}
.admin-layout-main {

  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: flex;
  position: relative;
   height: auto;             /* cho auto để nội dung dài tới đâu cao tới đó */
  min-height: calc(100vh - 60px);
}
.admin-layout-sidebar {
  width: 280px;
  color: #fff;
  flex-shrink: 0;
  z-index: 10;
  position: fixed;
  left: 0;
  top: 60px;
  height: calc(100vh - 60px);
  transform: translateX(-100%);
  transition: transform 0.3s;
  box-shadow: 2px 0 8px rgba(0,0,0,0.08);

}
.sidebar-open .admin-layout-sidebar {
  transform: translateX(0);
}

.sidebar-open .admin-layout-main {
  padding-left: 270px;
  margin-left: 0;
}
.admin-layout-content {
  flex: 1;
  background: #fff;
  overflow: auto;
  padding: 32px;
  height: 100%;
  display: flex;
  margin-top: 60px;
}

div {
  box-sizing: border-box; 
  border: none;
}
