.header-nav{
  display: grid;
  grid-template-columns: 165px 165px;
  grid-area:
  "logo title";
}
.logo-svg {
  height: 50px;
  width: 165px;
  grid-template-areas: logo;
  align-items: center;
  font-size :25px;
}

.header-container {
  background-color: #f8f9fa;
}