/* Ẩn thanh cuộn toàn cục */
* {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

*::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}

html {
  height: 100%;
  line-height: 1.2;
}

body{
  font-family: 'Hevetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
}